h1 {
    font-size: fantasy;
    font-family: fantasy;
    padding: ;
    margin: ;
    font-weight: ;
    text-decoration: underline;
    color: purple;
    background-color: ;
}

h2 {
    font-size: ;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    color: purple;
    background-color: whitesmoke;
    width: fit-content
}

.story-box{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px ;
    margin: 10px;
    color: black ;
    background-color: whitesmoke;
}

.logo {
    background-size: contain;
    background-image: url();
    background-color: red;
    height: 30px;
    width: 30px ;
}
img {
    height: 6px;
    width: 6px;
}
